{{ 'new-header.css' | asset_url | stylesheet_tag }}
{% comment %}
  <div class="row">
    {% if section.settings['new-header123'] == 'left' %}
      {% render 'new-logo.liquid' %}
      {% render 'new-menu-header.liquid' %}
      {% render 'new-icons-header.liquid' %}
    {% endif %}
    {% if section.settings['new-header123'] == 'center' %}
      {% render 'new-menu-header.liquid' %}
      {% render 'new-logo.liquid' %}
      {% render 'new-icons-header.liquid' %}
    {% endif %}
  </div>
{% endcomment %}

<div class="row">
  <div class="logo">
    {% if section.settings['new-logo-header'] == blank %}
      <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/logo.png?v=1681105446" class="icon-logo">
    {% else %}
      <img src="{{section.settings['new-logo-header'] | image_url }}" class="icon-logo">
    {% endif %}
  </div>
  <ul class="menu-header" style="color: {{section.settings.color-menu}}">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'menu-item' %}
          <li class="item-menu">
            <a href="#">{{ block.settings['menu-item'] }}</a>
          </li>
      {% endcase %}
    {% endfor %}
  </ul>
  <div class="mobile-icons-header">
    <div class="icon">
      <a href="#" class="padding-x">
        <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/user-person-profile-account-contact_1.png?v=1680673442">
      </a>
      <a href="#" class="padding-x">
        <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/Vector.png?v=1680673457">
        <div class="number">0</div>
      </a>
      <a href="#" class="padding-x">
        <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/shopping-cart-cart-shopping-commerce-ecommerce_1.png?v=1680673447">
        <div class="number">6</div>
      </a>
    </div>
    <div class="mobile-menu">
      <div id="mobile-menu-header" class="overlay">
        <ul class="overlay-content">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'mobile-menu-item' %}
                <li class="mobile-item-menu">
                  <a href="#">{{ block.settings['mobile-menu-item'] }}</a>
                </li>
            {% endcase %}
          {% endfor %}
        </ul>
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      </div>
      <button class="btn-menu-header" style="font-size:30px;cursor:pointer" onclick="openNav()">
        <img src="https://cdn.shopify.com/s/files/1/0744/2530/3338/files/Group_9.png?v=1681017676">
      </button>
    </div>
  </div>
</div>
<style>
  .item-menu:hover {
    color: {{section.settings.hover-color-menu}};
    text-decoration: underline;
  }

  .item-menu:hover a {
    color: {{section.settings.hover-color-menu}};
  }
</style>
<script>
  function openNav() {
    document.getElementById('mobile-menu-header').style.width = '74%';
    document.getElementById('bg-homepage').style.display = 'block';
  }

  function closeNav() {
    document.getElementById('mobile-menu-header').style.width = '0%';
    document.getElementById('bg-homepage').style.display = 'none';
  }
</script>

{% schema %}
{
  "name": "new-header",
  "settings": [
    {
      "id": "new-header123",
      "type": "select",
      "label": "Desktop logo position",
      "options": [
        {
          "value": "left",
          "label": "left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "left"
    },
    {
      "id": "new-logo-header",
      "type": "image_picker",
      "label": "Change logo"
    },
    {
      "type": "color",
      "id": "color-menu",
      "label": "Change color menu",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "hover-color-menu",
      "label": "Change hover color menu",
      "default": "#ff6e00"
    }
  ],
  "blocks": [
    {
      "name": "menu-item",
      "type": "menu-item",
      "settings": [
        {
          "type": "text",
          "id": "menu-item",
          "label": "Add menu item",
          "default": "Name item"
        }
      ]
    },
    {
      "name": "mobile-menu-item",
      "type": "mobile-menu-item",
      "settings": [
        {
          "type": "text",
          "id": "mobile-menu-item",
          "label": "Add menu item",
          "default": "Name item"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "header"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
